body {
  padding: 0px;
  background-color: var(--bg--main);
}
:root {
  --bg--main: rgb(73, 107, 135);
  --color--text--black: rgb(0, 0, 0);
  --color--text--grey: rgb(123, 123, 123);
}

.main,
.tasks-label,
.nodeadline-label,
.pretop-label,
.label-text,
.days-calendar,
.tasks-calendar {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.column-tasks,
.column-nodeadline {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.label-text-tasks,
.label-text-nodeadline {
  display: flex;
  flex-direction: row;
}

.tasks-input,
.nodeadline-input {
  text-decoration: none;
  color: var(--color--text--black);
}
