body {
  padding: 0px;
  background-color: var(--bg--main);
}
:root {
  --bg--main: rgb(73, 107, 135);
  --color--text--black: rgb(0, 0, 0);
  --color--text--grey: rgb(123, 123, 123);
}

.main,
.tasks-label,
.nodeadline-label,
.pretop-label,
.label-text,
.days-calendar,
.calendar {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.column-tasks,
.column-nodeadline,
.column-monday,
.column-tuesday,
.column-wednesday,
.column-thursday,
.column-friday,
.column-saturday,
.column-sunday {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.label-text-tasks,
.label-text-monday,
.label-text-tuesday,
.label-text-wednesday,
.label-text-thursday,
.label-text-friday,
.label-text-saturday,
.label-text-sunday {
  display: flex;
  flex-direction: row;
}

.tasks-input,
.nodeadline-input,
.monday-input,
.tuesday-input,
.wednesday-input,
.thursday-input,
.friday-input,
.saturday-input,
.sunday-input {
  width: 12vw;
  text-decoration: none;
  color: var(--color--text--black);
}

.checkbox-day-week {
  display: none;
}
