body {
  padding: 0px;
  background-color: var(--bg--main);
}
:root {
  --bg--main: rgb(73, 107, 135);
}

.main {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.tasks-label {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.nodeadline-label {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.pretop-label {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.label-text {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.days-calendar {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.tasks-calendar {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.calendar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}
