body {
  background-color: #a0a392;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  margin: 0px;
}

h1 {
  color: rgb(63, 63, 63);
  background-color: aqua;
  text-align: center;
  font-weight: 750;
}

h2 {
  color: #803535;
  text-align: center;
  background-color: beige;
  text-decoration: underline;
}

h3 {
  color: #803535;
  background-color: rgb(156, 156, 156);
  margin: 0px;
}

.head {
  margin-top: 6vh;
}

.head-btn {
  align-items: center;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-head {
  background-color: rgb(251, 234, 212);
  border: none;
  padding: 1vh;
  border-radius: 12px;
  cursor: pointer;
  flex: 1;
  margin: 2vh;
}

.button-head:hover {
  background-color: rgb(169, 158, 144);
}

.menu {
  width: 100%;
  height: 5vh;
  position: fixed;
  top: 0px;
  text-align: center;
  background-color: aliceblue;
  font-size: 2rem;
  border-radius: 0 0 1vh 1vh;
  margin-bottom: 2vh;
}

.table-films {
  background-color: rgb(156, 156, 156);
  width: 300px;
  height: 100px;
  padding: 2px;
  border: 5px solid rgb(108, 40, 40);
  margin: 15px;
  border-collapse: collapse;
}

.table-films-caption {
  padding: 0px;
  margin-bottom: 0;
  border: 5px solid rgb(108, 40, 40);
  border-bottom: 0px;
}

td {
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
}

tr {
  margin: 0px;
}

th {
  background-color: rgb(200, 200, 200);
  border: 2px solid rgb(0, 0, 0);
}

li {
  padding: 5px;
  font-size: 1.2rem;
  line-height: 0.8rem;
}

footer {
  margin-top: 50px;
}

.label-input {
  margin: 20px;
  border: 3px solid #000000;
}

textarea {
  margin: 20px;
  margin-top: 0px;
  border: 3px solid #000000;
}

.video-player {
  width: 720px;
  height: auto;
  margin: 20px;
}

.audio-player {
  margin: 20px;
}
